.footer-container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--color-two);
	padding: 10px;
	text-align: center;
	color: var(--color-three);
}

.footer-content {
	font-size: 14px;
}
