.pages-container {
	background-color: var(--color-two);
	border-radius: 10px;
	flex: 1;
}

.profileDetails {
	text-align: left;
	padding-left: 5px;
}
.friend-list-container {
	background-color: var(--color-two);
	border-radius: 10px;
	padding: 7px;
	display: flexbox;
}
.friend-item {
	display: flex;
	padding: 7px;
	color: var(--color-three);
	margin: 5px;
	border: 1px solid var(--color-three);
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.friend-item > img {
	height: 30px;
	width: 30px;
	margin-right: 10px;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

hr {
	width: 90%;
}
