/* Header.css */

.header-container {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    background-color: #282828; /* Gruvbox background color */
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a floating effect */
  }
  
  .header-content {
    text-align: center;
  }
  
  .chatbox-text {
    color: #b8bb26; /* Gruvbox yellow color */
    font-size: 18px;
    font-weight: bold;
  }
  