@import "./themeVariables.css";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background-color: var(--color-one);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
	width: 2px;
}
::-webkit-scrollbar-thumb {
	display: none;
}
::-webkit-scrollbar-corner {
	display: none;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
